<div class="side-liste">
    <div class="item {% if type_opera == 'évangelisations' %}actived{% endif %}">
        <a href="{% url 'evangelisation:evangelisation_app_operations' 'évangelisations' %}">
            <i class="fas fa-user"></i>
            Évangelisations
        </a>
    </div>
    <div class="item {% if type_opera == 'sites' %}actived{% endif %}">
        <a href="{% url 'evangelisation:evangelisation_app_operations' 'sites' %}">
            <i class="fas fa-users"></i>
            Sites
        </a>
    </div>
    <div class="item {% if type_opera == 'participants' %}actived{% endif %}">
        <a href="{% url 'evangelisation:evangelisation_app_operations' 'participants' %}">
            <i class="fas fa-sign-out-alt"></i>
            Participants
        </a>
    </div>
    <div class="item {% if type_opera == 'personnes' %}actived{% endif %}">
        <a href="{% url 'evangelisation:evangelisation_app_operations' 'personnes' %}">
            <i class="fas fa-users"></i>
            Personnes
        </a>
    </div>
</div>





























































































































































































