
.wrapper-stat-evang{
    width: 100%;
    padding: 0 15px;
}

.wrapper-stat-evang-site{
    margin-top: 35px;
    width: 100%;
}

.wrapper-stat-evang-site h2{
    font-size: 25px;
}

.rapport_site table thead{
    background-color: #006c69;
    color: #fff;
}

.wrapper-stat-evang-evangstatistq table thead{
    background-color: #006c69;
    color: #fff;
    text-align: center;
}

.rapport-diagram{
    width: 100%;
    overflow: auto;
    margin-top: 45px;
}

.rapport-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 25px;
    background: #d4ad14;
    margin-bottom: 25px;
}

.rapport-form select{
    /* width: 250px; */
}

.fallbackDatePicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.error-rapport{
    text-align: center;
    width: 100%;
    font-size: 35px;
    display: block;
    margin-top: 65px;
    padding: 35px;
}

#day, #year, #month{
    padding: 7px;
}

.fallbackDatePicker span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.wrapper-printPdf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper-printPdf .h2-v{
    display: block;
    background-color: #006c69;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 7px 0px;
    margin-bottom: 16px !important;
    font-size: 25px;
}

.wrapper-printPdf .h2-assembl{
    color: #fff;
    display: block;
    width: 100%;
    padding: 7px 0px;
    margin: -16px;
    text-align: center;
    background-color: #518be1;
    font-size: 25px;
}

.wrapper-printPdf .h2-label-stat{
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #6b719f9e;
    margin: -16px;
    padding: 7px 0px;
    font-size: 25px;
}

.dell{
    display: none !important;
}